<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="alfa_robot">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="mock_sensor_commands" default="true"/>
  <xacro:arg name="sim_gazebo_classic" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="real_hardware_plugin" default="alfa_robot_hardware/AlfaRobotHW"/>
  <xacro:arg name="canopen_profile_velocity" default="50000"/>
  <xacro:arg name="canopen_profile_accel" default="50000"/>

  <xacro:include filename="$(find alfa_robot_description)/urdf/alfa_robot/alfa_robot_macro.ros2_control.xacro"/>

  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.09" rpy="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.44193110855616 0.000259961331933109 0.176428166472852"
        rpy="0 0 0" />
      <mass
        value="394.931465036981" />
      <inertia
        ixx="66.5681215725466"
        ixy="5.74775273893285E-10"
        ixz="9.85014992290203"
        iyy="65.6389024339403"
        iyz="2.76043934386688E-09"
        izz="112.938477587322" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/visual/base_link.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/collision/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="pitch">
    <inertial>
      <origin
        xyz="-0.198797876667389 0.0534826037691441 0.0683908156328275"
        rpy="0 0 0" />
      <mass
        value="5.23479125794249" />
      <inertia
        ixx="0.0820011779740888"
        ixy="1.65869977323853E-10"
        ixz="-1.12757025938492E-17"
        iyy="0.0820529172807708"
        iyz="-2.38941055572563E-17"
        izz="0.163475256832643" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot_v2_arm_v4_new/visual/pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot_v2_arm_v4_new/collision/pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pitch"
    type="revolute">
    <origin
      xyz="-0.007937 0 0.129"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.26"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="turn">
    <inertial>
      <origin
        xyz="-0.0697894032768815 -0.00012433244764639 0.982155423971065"
        rpy="0 0 0" />
      <mass
        value="42.0737844290435" />
      <inertia
        ixx="10.0720353784748"
        ixy="-1.75362629131178E-06"
        ixz="5.29823321336754E-05"
        iyy="10.0937833616587"
        iyz="1.43589075450652E-06"
        izz="0.327199381319826" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/visual/turn.STL" />
      </geometry>
      <material
        name="arm_grey">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/collision/turn.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="turn"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="pitch" />
    <child
      link="turn" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="updown">
    <inertial>
      <origin
        xyz="-0.196828632659582 0.0148673483555221 0.0956849238503419"
        rpy="0 0 0" />
      <mass
        value="26.931167747836" />
      <inertia
        ixx="0.231217459750122"
        ixy="2.93337887014215E-05"
        ixz="0.000951254936009737"
        iyy="0.178754005132662"
        iyz="-1.44830456938328E-05"
        izz="0.348822965146485" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/visual/updown.STL" />
      </geometry>
      <material
        name="arm_grey">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/collision/updown.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="updown"
    type="prismatic">
    <origin
      xyz="-0.23547 0 0.57771"
      rpy="0 0 0" />
    <parent
      link="turn" />
    <child
      link="updown" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.99"
      effort="0"
      velocity="0" />
  </joint>
  <!-- Mesh base path for v2 arm v5 model -->
  <xacro:property name="mesh_base" value="package://alfa_robot_description/meshes/alfa_robot_v2_arm_v5"/>

  <!-- ========== LEFT ARM (left_v5_joint1-6) ========== -->
  <link name="left_v5_link0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.02" iyz="0" izz="0.02"/>
    </inertial>
  </link>
  <joint name="left_v5_mount" type="fixed">
    <parent link="updown"/>
    <child link="left_v5_link0"/>
    <origin xyz="0 0.20 0.18" rpy="0 0 0"/>
  </joint>

  <link name="left_v5_link1">
    <inertial>
      <origin xyz="3.98376137018541E-05 0.0126477750253194 0.0492338003578434" rpy="0 0 0"/>
      <mass value="1.26276969364824"/>
      <inertia ixx="0.00263426449889698" ixy="1.39299639124709E-06" ixz="-2.78631072895881E-06"
               iyy="0.00268939190272101" iyz="-7.0690632990526E-05" izz="0.00230762866755196"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/leftjoint1.STL"/></geometry>
      <material name=""><color rgba="0.2 0.55 1.0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/leftjoint1.STL"/></geometry>
    </collision>
  </link>
  <joint name="left_v5_joint1" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="left_v5_link0"/>
    <child link="left_v5_link1"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159265" upper="0" effort="120" velocity="1.2"/>
  </joint>

  <link name="left_v5_link2">
    <inertial>
      <origin xyz="-2.02060590481778E-14 -0.200000000000001 0.192749470015582" rpy="0 0 0"/>
      <mass value="2.29867987677898"/>
      <inertia ixx="0.0167934021362825" ixy="-1.56125112837913E-17" ixz="1.42815812294016E-17"
               iyy="0.0137429160924878" iyz="-4.6463569488202E-18" izz="0.0130582608880253"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/leftjoint2.STL"/></geometry>
      <material name=""><color rgba="0.2 0.55 1.0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/leftjoint2.STL"/></geometry>
    </collision>
  </link>
  <joint name="left_v5_joint2" type="revolute">
    <origin xyz="0 0.0905 0.058" rpy="-1.5708 0 0"/>
    <parent link="left_v5_link1"/>
    <child link="left_v5_link2"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159265" upper="3.14159265" effort="120" velocity="1.2"/>
  </joint>

  <link name="left_v5_link3">
    <inertial>
      <origin xyz="8.50278292219286E-10 -0.161826821925973 -0.142215766657612" rpy="0 0 0"/>
      <mass value="1.06877306914919"/>
      <inertia ixx="0.00576467932665098" ixy="7.14127431234585E-11" ixz="-1.52931538107986E-11"
               iyy="0.00323480538353984" iyz="-0.000627938051589377" izz="0.00557699385658163"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/leftjoint3.STL"/></geometry>
      <material name=""><color rgba="0.2 0.55 1.0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/leftjoint3.STL"/></geometry>
    </collision>
  </link>
  <joint name="left_v5_joint3" type="revolute">
    <origin xyz="0 -0.4 0.072" rpy="0 0 0"/>
    <parent link="left_v5_link2"/>
    <child link="left_v5_link3"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="6.28318530" effort="100" velocity="1.2"/>
  </joint>

  <link name="left_v5_link4">
    <inertial>
      <origin xyz="4.39937389380418E-05 0.00548997582265937 0.0483192602116806" rpy="0 0 0"/>
      <mass value="1.14347572516569"/>
      <inertia ixx="0.00245438978578032" ixy="1.39299733480971E-06" ixz="-2.7863076906024E-06"
               iyy="0.0023457756103248" iyz="-7.06906282100456E-05" izz="0.00212775395802631"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/leftjoint4.STL"/></geometry>
      <material name=""><color rgba="0.2 0.55 1.0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/leftjoint4.STL"/></geometry>
    </collision>
  </link>
  <joint name="left_v5_joint4" type="revolute">
    <origin xyz="0 -0.339 -0.15" rpy="1.5708 0 0"/>
    <parent link="left_v5_link3"/>
    <child link="left_v5_link4"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57079633" upper="4.71238898" effort="60" velocity="1.5"/>
  </joint>

  <link name="left_v5_link5">
    <inertial>
      <origin xyz="-4.39220865777745E-05 -0.00549003448929664 0.0493192397165389" rpy="0 0 0"/>
      <mass value="1.14347600233794"/>
      <inertia ixx="0.00245439627542261" ixy="1.39396565378349E-06" ixz="2.78609959051481E-06"
               iyy="0.00234577474624758" iyz="7.06885746164186E-05" izz="0.00212775160838843"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/leftjoint5.STL"/></geometry>
      <material name=""><color rgba="0.2 0.55 1.0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/leftjoint5.STL"/></geometry>
    </collision>
  </link>
  <joint name="left_v5_joint5" type="revolute">
    <origin xyz="0 0.075 0.058" rpy="-1.5708 0 0"/>
    <parent link="left_v5_link4"/>
    <child link="left_v5_link5"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57079633" upper="4.71238898" effort="60" velocity="1.5"/>
  </joint>

  <link name="left_v5_link6">
    <inertial>
      <origin xyz="0.00023532815733418 9.11432961720343E-05 0.087447372777676" rpy="0 0 0"/>
      <mass value="1.76089178335136"/>
      <inertia ixx="0.00779270426493984" ixy="-7.86255995574129E-08" ixz="2.89944411407093E-07"
               iyy="0.00558315762821446" iyz="-2.686584257496E-07" izz="0.0124506991804597"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/leftjoint6.STL"/></geometry>
      <material name=""><color rgba="0.2 0.55 1.0 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/leftjoint6.STL"/></geometry>
    </collision>
  </link>
  <joint name="left_v5_joint6" type="revolute">
    <origin xyz="0 -0.083 0.059" rpy="1.5708 0 0"/>
    <parent link="left_v5_link5"/>
    <child link="left_v5_link6"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159265" upper="3.14159265" effort="40" velocity="1.5"/>
  </joint>

  <!-- Left tool0 (end-effector frame) -->
  <link name="left_v5_tool0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.2"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="left_v5_tool0_fixed" type="fixed">
    <parent link="left_v5_link6"/>
    <child link="left_v5_tool0"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>

  <!-- ========== RIGHT ARM (right_v5_joint1-6) ========== -->
  <link name="right_v5_link0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.02" iyz="0" izz="0.02"/>
    </inertial>
  </link>
  <joint name="right_v5_mount" type="fixed">
    <parent link="updown"/>
    <child link="right_v5_link0"/>
    <origin xyz="0 -0.20 0.18" rpy="0 0 0"/>
  </joint>

  <link name="right_v5_link1">
    <inertial>
      <origin xyz="-3.97824922628853E-05 -0.0126477728169272 0.0492337945969195" rpy="0 0 0"/>
      <mass value="1.26276932681279"/>
      <inertia ixx="0.00263426432505094" ixy="1.39344493599146E-06" ixz="2.7860813926773E-06"
               iyy="0.00268939195647464" iyz="7.06907392424158E-05" izz="0.00230762863992581"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/rightjoint1.STL"/></geometry>
      <material name=""><color rgba="1.0 0.55 0.2 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/rightjoint1.STL"/></geometry>
    </collision>
  </link>
  <joint name="right_v5_joint1" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="right_v5_link0"/>
    <child link="right_v5_link1"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="3.14159265" effort="120" velocity="1.2"/>
  </joint>

  <link name="right_v5_link2">
    <inertial>
      <origin xyz="-1.28785870856518E-14 -0.199999999999987 -0.192749470015577" rpy="0 0 0"/>
      <mass value="2.29867987677898"/>
      <inertia ixx="0.0167934021362824" ixy="0" ixz="4.13764815381938E-17"
               iyy="0.0137429160924878" iyz="2.17169249478585E-17" izz="0.0130582608880253"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/rightjoint2.STL"/></geometry>
      <material name=""><color rgba="1.0 0.55 0.2 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/rightjoint2.STL"/></geometry>
    </collision>
  </link>
  <joint name="right_v5_joint2" type="revolute">
    <origin xyz="0 -0.0905 0.058" rpy="-1.5708 0 0"/>
    <parent link="right_v5_link1"/>
    <child link="right_v5_link2"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159265" upper="3.14159265" effort="120" velocity="1.2"/>
  </joint>

  <link name="right_v5_link3">
    <inertial>
      <origin xyz="9.5070418204557E-10 -0.16182682160044 0.142215764473744" rpy="0 0 0"/>
      <mass value="1.06877306681804"/>
      <inertia ixx="0.00576467931842579" ixy="7.85022139795314E-11" ixz="1.66891069507532E-11"
               iyy="0.00323480537976427" iyz="0.000627937896943069" izz="0.00557699384106281"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/rightjoint3.STL"/></geometry>
      <material name=""><color rgba="1.0 0.55 0.2 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/rightjoint3.STL"/></geometry>
    </collision>
  </link>
  <joint name="right_v5_joint3" type="revolute">
    <origin xyz="0 -0.4 -0.072" rpy="0 0 0"/>
    <parent link="right_v5_link2"/>
    <child link="right_v5_link3"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159265" upper="3.14159265" effort="100" velocity="1.2"/>
  </joint>

  <link name="right_v5_link4">
    <inertial>
      <origin xyz="-4.39325770644761E-05 -0.00548997104397675 0.0483192533064992" rpy="0 0 0"/>
      <mass value="1.14347535463895"/>
      <inertia ixx="0.00245438961944399" ixy="1.39346065832636E-06" ixz="2.78607722047326E-06"
               iyy="0.00234577565134394" iyz="7.06907346421649E-05" izz="0.00212775392531061"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/rightjoint4.STL"/></geometry>
      <material name=""><color rgba="1.0 0.55 0.2 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/rightjoint4.STL"/></geometry>
    </collision>
  </link>
  <joint name="right_v5_joint4" type="revolute">
    <origin xyz="0 -0.339 0.15" rpy="1.5708 0 0"/>
    <parent link="right_v5_link3"/>
    <child link="right_v5_link4"/>
    <axis xyz="0 0 1"/>
    <limit lower="-4.71238898" upper="1.57079633" effort="60" velocity="1.5"/>
  </joint>

  <link name="right_v5_link5">
    <inertial>
      <origin xyz="4.4006472602609E-05 -0.00549003609387566 -0.0483192456907762" rpy="0 0 0"/>
      <mass value="1.14347650158227"/>
      <inertia ixx="0.00245440026104237" ixy="-1.39330363796226E-06" ixz="2.78487451720199E-06"
               iyy="0.00234577801687435" iyz="-7.06943241540916E-05" izz="0.00212775133190187"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/rightjoint5.STL"/></geometry>
      <material name=""><color rgba="1.0 0.55 0.2 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/rightjoint5.STL"/></geometry>
    </collision>
  </link>
  <joint name="right_v5_joint5" type="revolute">
    <origin xyz="0 -0.076 0.058" rpy="-1.5708 0 0"/>
    <parent link="right_v5_link4"/>
    <child link="right_v5_link5"/>
    <axis xyz="0 0 1"/>
    <limit lower="-4.71238898" upper="1.57079633" effort="60" velocity="1.5"/>
  </joint>

  <link name="right_v5_link6">
    <inertial>
      <origin xyz="-0.000182536205884709 -0.000174261472871362 0.0874473728067586" rpy="0 0 0"/>
      <mass value="1.76089178109847"/>
      <inertia ixx="0.00779269686744314" ixy="9.64917130872463E-08" ixz="-3.70697414022662E-07"
               iyy="0.00558316502412396" iyz="1.37257666224686E-07" izz="0.0124506991775929"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/visual/rightjoint6.STL"/></geometry>
      <material name=""><color rgba="1.0 0.55 0.2 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><mesh filename="${mesh_base}/collision/rightjoint6.STL"/></geometry>
    </collision>
  </link>
  <joint name="right_v5_joint6" type="revolute">
    <origin xyz="0 -0.083 -0.058" rpy="1.5708 0 0"/>
    <parent link="right_v5_link5"/>
    <child link="right_v5_link6"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159265" upper="3.14159265" effort="40" velocity="1.5"/>
  </joint>

  <!-- Right tool0 (end-effector frame) -->
  <link name="right_v5_tool0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.2"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="right_v5_tool0_fixed" type="fixed">
    <parent link="right_v5_link6"/>
    <child link="right_v5_tool0"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>

  <xacro:alfa_robot_ros2_control
    name="alfa_robot"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"
    sim_gazebo="$(arg sim_gazebo)"
    simulation_controllers="$(arg simulation_controllers)"
    real_hardware_plugin="$(arg real_hardware_plugin)"
    canopen_profile_velocity="$(arg canopen_profile_velocity)"
    canopen_profile_accel="$(arg canopen_profile_accel)"/>

</robot>
