<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="alfa_robot">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo_classic" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="real_hardware_plugin" default="alfa_robot_hardware/AlfaRobotHW"/>
  <xacro:arg name="canopen_profile_velocity" default="50000"/>
  <xacro:arg name="canopen_profile_accel" default="50000"/>

  <xacro:include filename="$(find alfa_robot_description)/urdf/alfa_robot/alfa_robot_macro.ros2_control.xacro"/>

  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.09" rpy="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.44193110855616 0.000259961331933109 0.176428166472852"
        rpy="0 0 0" />
      <mass
        value="394.931465036981" />
      <inertia
        ixx="66.5681215725466"
        ixy="5.74775273893285E-10"
        ixz="9.85014992290203"
        iyy="65.6389024339403"
        iyz="2.76043934386688E-09"
        izz="112.938477587322" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/visual/base_link.STL" />
      </geometry>
      <material
        name="blue">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/collision/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="pitch">
    <inertial>
      <origin
        xyz="-0.198797876667389 0.0534826037691441 0.0683908156328275"
        rpy="0 0 0" />
      <mass
        value="5.23479125794249" />
      <inertia
        ixx="0.0820011779740888"
        ixy="1.65869977323853E-10"
        ixz="-1.12757025938492E-17"
        iyy="0.0820529172807708"
        iyz="-2.38941055572563E-17"
        izz="0.163475256832643" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot_v2_arm_v4_new/visual/pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot_v2_arm_v4_new/collision/pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pitch"
    type="revolute">
    <origin
      xyz="-0.007937 0 0.129"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.26"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="turn">
    <inertial>
      <origin
        xyz="-0.0697894032768815 -0.00012433244764639 0.982155423971065"
        rpy="0 0 0" />
      <mass
        value="42.0737844290435" />
      <inertia
        ixx="10.0720353784748"
        ixy="-1.75362629131178E-06"
        ixz="5.29823321336754E-05"
        iyy="10.0937833616587"
        iyz="1.43589075450652E-06"
        izz="0.327199381319826" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/visual/turn.STL" />
      </geometry>
      <material
        name="arm_grey">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/collision/turn.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="turn"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="pitch" />
    <child
      link="turn" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="updown">
    <inertial>
      <origin
        xyz="-0.196828632659582 0.0148673483555221 0.0956849238503419"
        rpy="0 0 0" />
      <mass
        value="26.931167747836" />
      <inertia
        ixx="0.231217459750122"
        ixy="2.93337887014215E-05"
        ixz="0.000951254936009737"
        iyy="0.178754005132662"
        iyz="-1.44830456938328E-05"
        izz="0.348822965146485" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/visual/updown.STL" />
      </geometry>
      <material
        name="arm_grey">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_description/meshes/alfa_robot/collision/updown.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="updown"
    type="prismatic">
    <origin
      xyz="-0.23547 0 0.57771"
      rpy="0 0 0" />
    <parent
      link="turn" />
    <child
      link="updown" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.99"
      effort="0"
      velocity="0" />
  </joint>
  <!-- v5.5 dual six-axis arms from SolidWorks URDF.
       Source: /mnt/mydisk/ALFA/alfa_robot/alfa_robot_arm_v5_5/urdf/alfa_robot_arm_v5_5.urdf
       Kinematic chain: motor1 -> motor2 -> big_arm -> big_arm_2 -> motor3 -> little_arm -> motor4 -> motor5 -> motor6
       Naming: {side}_v5_link1..6 for motor1..6, {side}_v5_big_arm / big_arm_2 / little_arm for fixed sub-links
       Mirror_y: right arm mirrors y in xyz, roll+yaw in rpy, y in axis -->
  <xacro:property name="v5_mount_y" value="0.20"/>
  <xacro:property name="v5_mount_z" value="0.18"/>
  <xacro:property name="v5_mesh_base" value="package://alfa_robot_description/meshes/alfa_robot_arm_v5"/>

  <!-- Shared inertial data from v5_5 SolidWorks export (left arm; mirror_y scales y-related terms for right arm) -->

  <xacro:macro name="v5_simple_inertial" params="mass">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${mass}"/>
      <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.02" iyz="0" izz="0.02"/>
    </inertial>
  </xacro:macro>

  <!-- v5_5 arm: full arm macro with side, mount_y offset, mirror_y sign, colour, mesh dirs -->
  <xacro:macro name="v5_arm" params="side mount_y mirror_y color visual_dir collision_dir">

    <!-- link0: mount flange (no geometry, just inertial) -->
    <link name="${side}_v5_link0">
      <xacro:v5_simple_inertial mass="0.5"/>
    </link>
    <joint name="${side}_v5_mount" type="fixed">
      <parent link="updown"/>
      <child link="${side}_v5_link0"/>
      <origin xyz="0 ${mount_y} ${v5_mount_z}" rpy="0 0 0"/>
    </joint>

    <!-- ========== link1 (motor1) ========== -->
    <link name="${side}_v5_link1">
      <inertial>
        <origin xyz="-0.00249109407666987 ${mirror_y * -0.00941197264927821} 0.0581599395870402" rpy="0 0 0"/>
        <mass value="1.74726251855218"/>
        <inertia ixx="0.00466418394069246" ixy="${mirror_y * -0.000132892554893689}" ixz="1.04618056218377E-05" iyy="0.00419732144117204" iyz="${mirror_y * 3.95023739144568E-05}" izz="0.00359307991554272"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${visual_dir}/motor1.STL"/></geometry>
        <material name="v5_imported_mesh_mat"><color rgba="${color}"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${collision_dir}/motor1.STL"/></geometry>
      </collision>
    </link>
    <joint name="${side}_v5_joint1" type="revolute">
      <parent link="${side}_v5_link0"/>
      <child link="${side}_v5_link1"/>
      <origin xyz="0 0 0.056" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14159265" upper="3.14159265" effort="120" velocity="1.2"/>
    </joint>

    <!-- ========== link2 (motor2) ========== -->
    <link name="${side}_v5_link2">
      <inertial>
        <origin xyz="-0.0168437536004533 ${mirror_y * 7.7667266288467E-08} 0.135963979397021" rpy="0 0 0"/>
        <mass value="5.22940394208362"/>
        <inertia ixx="0.04556259821871" ixy="${mirror_y * -1.39289761083746E-08}" ixz="0.00887358216892279" iyy="0.0489916174488598" iyz="${mirror_y * -2.09299077114783E-09}" izz="0.0175689125858157"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${visual_dir}/motor2.STL"/></geometry>
        <material name="v5_imported_mesh_mat"><color rgba="${color}"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${collision_dir}/motor2.STL"/></geometry>
      </collision>
    </link>
    <joint name="${side}_v5_joint2" type="revolute">
      <parent link="${side}_v5_link1"/>
      <child link="${side}_v5_link2"/>
      <origin xyz="-0.021112 ${mirror_y * -0.079753} 0.058" rpy="${mirror_y * 1.8296} 1.5708 0"/>
      <axis xyz="0 0 -1"/>
      <limit lower="-3.14159265" upper="3.14159265" effort="120" velocity="1.2"/>
    </joint>

    <!-- ========== big_arm (fixed from link2) ========== -->
    <link name="${side}_v5_big_arm">
      <inertial>
        <origin xyz="1.66533453693773E-16 ${mirror_y * 1.66533453693773E-16} 0.192" rpy="0 0 0"/>
        <mass value="1.15977547674044"/>
        <inertia ixx="0.0245288914447722" ixy="${mirror_y * 5.00652940690442E-18}" ixz="-1.04636466228108E-17" iyy="0.0245288914447722" iyz="${mirror_y * -2.19397400103325E-17}" izz="0.00328554236419837"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${visual_dir}/big_arm.STL"/></geometry>
        <material name="v5_imported_mesh_mat"><color rgba="${color}"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${collision_dir}/big_arm.STL"/></geometry>
      </collision>
    </link>
    <joint name="${side}_v5_big_arm_fixed" type="fixed">
      <parent link="${side}_v5_link2"/>
      <child link="${side}_v5_big_arm"/>
      <origin xyz="-0.108 0 0.238" rpy="${mirror_y * -1.5708} 0.25878 ${mirror_y * 1.5708}"/>
    </joint>

    <!-- ========== big_arm_2 (fixed from big_arm) ========== -->
    <link name="${side}_v5_big_arm_2">
      <inertial>
        <origin xyz="0.0241753153356684 ${mirror_y * 0.0913238407573678} 0.0906265917098235" rpy="0 0 0"/>
        <mass value="4.97227035269128"/>
        <inertia ixx="0.0412845858935025" ixy="${mirror_y * -0.00636340451133772}" ixz="-0.00210784115639409" iyy="0.0189307768876266" iyz="${mirror_y * -0.00796255855863028}" izz="0.0395469700861247"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${visual_dir}/big_arm_2.STL"/></geometry>
        <material name="v5_imported_mesh_mat"><color rgba="${color}"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${collision_dir}/big_arm_2.STL"/></geometry>
      </collision>
    </link>
    <joint name="${side}_v5_big_arm_2_fixed" type="fixed">
      <parent link="${side}_v5_big_arm"/>
      <child link="${side}_v5_big_arm_2"/>
      <origin xyz="0 0 0.384" rpy="0 0 0"/>
    </joint>

    <!-- ========== link3 (motor3) ========== -->
    <link name="${side}_v5_link3">
      <inertial>
        <origin xyz="-1.63280159184986E-09 ${mirror_y * -0.0468517004654931} 0.0609597087303709" rpy="0 0 0"/>
        <mass value="1.49081984659861"/>
        <inertia ixx="0.00529659771444994" ixy="${mirror_y * 2.97663519928468E-09}" ixz="-1.94405206310148E-09" iyy="0.00279674652963064" iyz="${mirror_y * 0.00120850113397231}" izz="0.00466650690594066"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${visual_dir}/motor3.STL"/></geometry>
        <material name="v5_imported_mesh_mat"><color rgba="${color}"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${collision_dir}/motor3.STL"/></geometry>
      </collision>
    </link>
    <joint name="${side}_v5_joint3" type="revolute">
      <parent link="${side}_v5_big_arm_2"/>
      <child link="${side}_v5_link3"/>
      <origin xyz="0.058858 ${mirror_y * 0.22234} 0.108" rpy="${mirror_y * -1.5708} 0 ${mirror_y * -0.25878}"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14159265" upper="3.14159265" effort="100" velocity="1.2"/>
    </joint>

    <!-- ========== little_arm (fixed from link3) ========== -->
    <link name="${side}_v5_little_arm">
      <inertial>
        <origin xyz="3.12250225675825E-17 ${mirror_y * 4.5102810375397E-17} 0.0807664410058027" rpy="0 0 0"/>
        <mass value="0.819573036601734"/>
        <inertia ixx="0.00487621643874643" ixy="${mirror_y * -6.941435002749E-19}" ixz="-1.40385385199839E-18" iyy="0.00487621643874643" iyz="${mirror_y * -2.99487714303266E-18}" izz="0.00230784421862048"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${visual_dir}/little_arm.STL"/></geometry>
        <material name="v5_imported_mesh_mat"><color rgba="${color}"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${collision_dir}/little_arm.STL"/></geometry>
      </collision>
    </link>
    <joint name="${side}_v5_little_arm_fixed" type="fixed">
      <parent link="${side}_v5_link3"/>
      <child link="${side}_v5_little_arm"/>
      <origin xyz="0 ${mirror_y * -0.128} 0.078" rpy="${mirror_y * 1.5708} -0.25878 0"/>
    </joint>

    <!-- ========== link4 (motor4) ========== -->
    <link name="${side}_v5_link4">
      <inertial>
        <origin xyz="-0.00249109407666987 ${mirror_y * -0.00941197264927826} 0.05815993958704" rpy="0 0 0"/>
        <mass value="1.74726251855218"/>
        <inertia ixx="0.00466418394069247" ixy="${mirror_y * -0.00013289255489369}" ixz="1.04618056218394E-05" iyy="0.00419732144117204" iyz="${mirror_y * 3.95023739144585E-05}" izz="0.00359307991554272"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${visual_dir}/motor4.STL"/></geometry>
        <material name="v5_imported_mesh_mat"><color rgba="${color}"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${collision_dir}/motor4.STL"/></geometry>
      </collision>
    </link>
    <joint name="${side}_v5_joint4" type="revolute">
      <parent link="${side}_v5_little_arm"/>
      <child link="${side}_v5_link4"/>
      <origin xyz="0 0 0.211" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14159265" upper="3.14159265" effort="60" velocity="1.5"/>
    </joint>

    <!-- ========== link5 (motor5) ========== -->
    <link name="${side}_v5_link5">
      <inertial>
        <origin xyz="-0.0580114733640724 ${mirror_y * 2.48000111696678E-08} 0.0580904154565671" rpy="0 0 0"/>
        <mass value="3.08594386449304"/>
        <inertia ixx="0.00720920130533316" ixy="${mirror_y * -9.18905706320757E-09}" ixz="2.7385547831187E-05" iyy="0.0167443012564708" iyz="${mirror_y * -6.06715098994126E-09}" izz="0.0156379754019912"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${visual_dir}/motor5.STL"/></geometry>
        <material name="v5_imported_mesh_mat"><color rgba="${color}"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${collision_dir}/motor5.STL"/></geometry>
      </collision>
    </link>
    <joint name="${side}_v5_joint5" type="revolute">
      <parent link="${side}_v5_link4"/>
      <child link="${side}_v5_link5"/>
      <origin xyz="-0.019449 ${mirror_y * -0.073469} 0.058" rpy="${mirror_y * 1.8296} 1.5708 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14159265" upper="3.14159265" effort="60" velocity="1.5"/>
    </joint>

    <!-- ========== link6 (motor6) ========== -->
    <link name="${side}_v5_link6">
      <inertial>
        <origin xyz="-0.000858308788964805 ${mirror_y * -0.00165819326278982} 0.150300235347381" rpy="0 0 0"/>
        <mass value="7.0416510154308"/>
        <inertia ixx="0.0672242647429327" ixy="${mirror_y * -0.00487540206099942}" ixz="-3.57193857177805E-14" iyy="0.0500976932186096" iyz="${mirror_y * 1.22489554519827E-14}" izz="0.0896908193833426"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${visual_dir}/motor6.STL"/></geometry>
        <material name="v5_imported_mesh_mat"><color rgba="${color}"/></material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><mesh filename="${v5_mesh_base}/${collision_dir}/motor6.STL"/></geometry>
      </collision>
    </link>
    <joint name="${side}_v5_joint6" type="revolute">
      <parent link="${side}_v5_link5"/>
      <child link="${side}_v5_link6"/>
      <origin xyz="-0.1038 ${mirror_y * 0.00040539} 0.056177" rpy="${mirror_y * -1.5708} 0.25878 ${mirror_y * 1.5708}"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14159265" upper="3.14159265" effort="40" velocity="1.5"/>
    </joint>

    <!-- ========== tool0 (end-effector frame) ========== -->
    <link name="${side}_v5_tool0">
      <xacro:v5_simple_inertial mass="0.2"/>
    </link>
    <joint name="${side}_v5_tool0_fixed" type="fixed">
      <parent link="${side}_v5_link6"/>
      <child link="${side}_v5_tool0"/>
      <origin xyz="0 0 0.08" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

  <xacro:v5_arm side="left" mount_y="${v5_mount_y}" mirror_y="1" color="0.2 0.55 1.0 1" visual_dir="visual" collision_dir="collision"/>
  <xacro:v5_arm side="right" mount_y="${-v5_mount_y}" mirror_y="-1" color="1.0 0.55 0.2 1" visual_dir="visual_right" collision_dir="collision_right"/>

  <xacro:alfa_robot_ros2_control
    name="alfa_robot"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"
    sim_gazebo="$(arg sim_gazebo)"
    simulation_controllers="$(arg simulation_controllers)"
    real_hardware_plugin="$(arg real_hardware_plugin)"
    canopen_profile_velocity="$(arg canopen_profile_velocity)"
    canopen_profile_accel="$(arg canopen_profile_accel)"/>

</robot>
