<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="alfa_robot_v2_arm_v5">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00896922200126715 2.35194162194197E-05 0.0179811176086975"
        rpy="0 0 0" />
      <mass
        value="5.21106238092598" />
      <inertia
        ixx="0.0633320335254252"
        ixy="-1.57025952752081E-07"
        ixz="-3.6679637242798E-07"
        iyy="0.119212913285128"
        iyz="6.33714518991438E-07"
        izz="0.181818429904202" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="pitch">
    <inertial>
      <origin
        xyz="-0.183397999558459 0.0545010153613339 0.0715734703575166"
        rpy="0 0 0" />
      <mass
        value="8.58336880504669" />
      <inertia
        ixx="0.124435457262368"
        ixy="2.02803903431476E-08"
        ixz="2.28516147020644E-07"
        iyy="0.124487649250478"
        iyz="3.22538967506326E-07"
        izz="0.244616732919204" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pitch"
    type="revolute">
    <origin
      xyz="0.259 -0.0545 0.05"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.26"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="turn">
    <inertial>
      <origin
        xyz="-0.00423715055876994 0.000151653813462493 0.816648355630885"
        rpy="0 0 0" />
      <mass
        value="14.6204241058131" />
      <inertia
        ixx="1.14157538425423"
        ixy="7.97636948946814E-06"
        ixz="0.000444669433631748"
        iyy="1.13530508660618"
        iyz="9.37427800639872E-06"
        izz="0.09738745294547" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/turn.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/turn.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="turn"
    type="continuous">
    <origin
      xyz="-0.189 0.0545 0.12"
      rpy="0 0 0" />
    <parent
      link="pitch" />
    <child
      link="turn" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="updown">
    <inertial>
      <origin
        xyz="0.065954669531775 1.77114960508984E-06 0.111303069326077"
        rpy="0 0 0" />
      <mass
        value="6.08886649704347" />
      <inertia
        ixx="0.0989759733533819"
        ixy="-2.19180019942803E-08"
        ixz="1.32928434193498E-06"
        iyy="0.0248060445769484"
        iyz="3.45444492322773E-11"
        izz="0.119895280054362" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/updown.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/updown.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="updown"
    type="prismatic">
    <origin
      xyz="-0.07 0.0005 0.0645"
      rpy="0 0 0" />
    <parent
      link="turn" />
    <child
      link="updown" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.99"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftjoint1">
    <inertial>
      <origin
        xyz="3.98376137018541E-05 0.0126477750253194 0.0492338003578434"
        rpy="0 0 0" />
      <mass
        value="1.26276969364824" />
      <inertia
        ixx="0.00263426449889698"
        ixy="1.39299639124709E-06"
        ixz="-2.78631072895881E-06"
        iyy="0.00268939190272101"
        iyz="-7.0690632990526E-05"
        izz="0.00230762866755196" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/leftjoint1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/leftjoint1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftjoint1"
    type="continuous">
    <origin
      xyz="0.105 0.26 0.2"
      rpy="0 0 0" />
    <parent
      link="updown" />
    <child
      link="leftjoint1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftjoint2">
    <inertial>
      <origin
        xyz="-2.02060590481778E-14 -0.200000000000001 0.192749470015582"
        rpy="0 0 0" />
      <mass
        value="2.29867987677898" />
      <inertia
        ixx="0.0167934021362825"
        ixy="-1.56125112837913E-17"
        ixz="1.42815812294016E-17"
        iyy="0.0137429160924878"
        iyz="-4.6463569488202E-18"
        izz="0.0130582608880253" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/leftjoint2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/leftjoint2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftjoint2"
    type="continuous">
    <origin
      xyz="0 0.0905 0.058"
      rpy="-1.5708 0 0" />
    <parent
      link="leftjoint1" />
    <child
      link="leftjoint2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftjoint3">
    <inertial>
      <origin
        xyz="8.50278292219286E-10 -0.161826821925973 -0.142215766657612"
        rpy="0 0 0" />
      <mass
        value="1.06877306914919" />
      <inertia
        ixx="0.00576467932665098"
        ixy="7.14127431234585E-11"
        ixz="-1.52931538107986E-11"
        iyy="0.00323480538353984"
        iyz="-0.000627938051589377"
        izz="0.00557699385658163" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/leftjoint3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/leftjoint3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftjoint3"
    type="continuous">
    <origin
      xyz="0 -0.4 0.072"
      rpy="0 0 0" />
    <parent
      link="leftjoint2" />
    <child
      link="leftjoint3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftjoint4">
    <inertial>
      <origin
        xyz="4.39937389380418E-05 0.00548997582265937 0.0483192602116806"
        rpy="0 0 0" />
      <mass
        value="1.14347572516569" />
      <inertia
        ixx="0.00245438978578032"
        ixy="1.39299733480971E-06"
        ixz="-2.7863076906024E-06"
        iyy="0.0023457756103248"
        iyz="-7.06906282100456E-05"
        izz="0.00212775395802631" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/leftjoint4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/leftjoint4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftjoint4"
    type="continuous">
    <origin
      xyz="0 -0.339 -0.15"
      rpy="1.5708 0 0" />
    <parent
      link="leftjoint3" />
    <child
      link="leftjoint4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftjoint5">
    <inertial>
      <origin
        xyz="-4.39220865777745E-05 -0.00549003448929664 0.0493192397165389"
        rpy="0 0 0" />
      <mass
        value="1.14347600233794" />
      <inertia
        ixx="0.00245439627542261"
        ixy="1.39396565378349E-06"
        ixz="2.78609959051481E-06"
        iyy="0.00234577474624758"
        iyz="7.06885746164186E-05"
        izz="0.00212775160838843" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/leftjoint5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/leftjoint5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftjoint5"
    type="continuous">
    <origin
      xyz="0 0.075 0.058"
      rpy="-1.5708 0 0" />
    <parent
      link="leftjoint4" />
    <child
      link="leftjoint5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftjoint6">
    <inertial>
      <origin
        xyz="0.00023532815733418 9.11432961720343E-05 0.087447372777676"
        rpy="0 0 0" />
      <mass
        value="1.76089178335136" />
      <inertia
        ixx="0.00779270426493984"
        ixy="-7.86255995574129E-08"
        ixz="2.89944411407093E-07"
        iyy="0.00558315762821446"
        iyz="-2.686584257496E-07"
        izz="0.0124506991804597" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/leftjoint6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/leftjoint6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftjoint6"
    type="continuous">
    <origin
      xyz="0 -0.083 0.059"
      rpy="1.5708 0 0" />
    <parent
      link="leftjoint5" />
    <child
      link="leftjoint6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rightjoint1">
    <inertial>
      <origin
        xyz="-3.97824922628853E-05 -0.0126477728169272 0.0492337945969195"
        rpy="0 0 0" />
      <mass
        value="1.26276932681279" />
      <inertia
        ixx="0.00263426432505094"
        ixy="1.39344493599146E-06"
        ixz="2.7860813926773E-06"
        iyy="0.00268939195647464"
        iyz="7.06907392424158E-05"
        izz="0.00230762863992581" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/rightjoint1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/rightjoint1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightjoint1"
    type="continuous">
    <origin
      xyz="0.105 -0.26 0.2"
      rpy="0 0 0" />
    <parent
      link="updown" />
    <child
      link="rightjoint1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rightjoint2">
    <inertial>
      <origin
        xyz="-1.28785870856518E-14 -0.199999999999987 -0.192749470015577"
        rpy="0 0 0" />
      <mass
        value="2.29867987677898" />
      <inertia
        ixx="0.0167934021362824"
        ixy="0"
        ixz="4.13764815381938E-17"
        iyy="0.0137429160924878"
        iyz="2.17169249478585E-17"
        izz="0.0130582608880253" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/rightjoint2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/rightjoint2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightjoint2"
    type="continuous">
    <origin
      xyz="0 -0.0905 0.058"
      rpy="-1.5708 0 0" />
    <parent
      link="rightjoint1" />
    <child
      link="rightjoint2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rightjoint3">
    <inertial>
      <origin
        xyz="9.5070418204557E-10 -0.16182682160044 0.142215764473744"
        rpy="0 0 0" />
      <mass
        value="1.06877306681804" />
      <inertia
        ixx="0.00576467931842579"
        ixy="7.85022139795314E-11"
        ixz="1.66891069507532E-11"
        iyy="0.00323480537976427"
        iyz="0.000627937896943069"
        izz="0.00557699384106281" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/rightjoint3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/rightjoint3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightjoint3"
    type="continuous">
    <origin
      xyz="0 -0.4 -0.072"
      rpy="0 0 0" />
    <parent
      link="rightjoint2" />
    <child
      link="rightjoint3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rightjoint4">
    <inertial>
      <origin
        xyz="-4.39325770644761E-05 -0.00548997104397675 0.0483192533064992"
        rpy="0 0 0" />
      <mass
        value="1.14347535463895" />
      <inertia
        ixx="0.00245438961944399"
        ixy="1.39346065832636E-06"
        ixz="2.78607722047326E-06"
        iyy="0.00234577565134394"
        iyz="7.06907346421649E-05"
        izz="0.00212775392531061" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/rightjoint4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/rightjoint4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightjoint4"
    type="continuous">
    <origin
      xyz="0 -0.339 0.15"
      rpy="1.5708 0 0" />
    <parent
      link="rightjoint3" />
    <child
      link="rightjoint4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rightjoint5">
    <inertial>
      <origin
        xyz="4.4006472602609E-05 -0.00549003609387566 -0.0483192456907762"
        rpy="0 0 0" />
      <mass
        value="1.14347650158227" />
      <inertia
        ixx="0.00245440026104237"
        ixy="-1.39330363796226E-06"
        ixz="2.78487451720199E-06"
        iyy="0.00234577801687435"
        iyz="-7.06943241540916E-05"
        izz="0.00212775133190187" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/rightjoint5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/rightjoint5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightjoint5"
    type="continuous">
    <origin
      xyz="0 -0.076 0.058"
      rpy="-1.5708 0 0" />
    <parent
      link="rightjoint4" />
    <child
      link="rightjoint5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rightjoint6">
    <inertial>
      <origin
        xyz="-0.000182536205884709 -0.000174261472871362 0.0874473728067586"
        rpy="0 0 0" />
      <mass
        value="1.76089178109847" />
      <inertia
        ixx="0.00779269686744314"
        ixy="9.64917130872463E-08"
        ixz="-3.70697414022662E-07"
        iyy="0.00558316502412396"
        iyz="1.37257666224686E-07"
        izz="0.0124506991775929" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/visual/rightjoint6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://alfa_robot_v2_arm_v5/meshes/collision/rightjoint6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightjoint6"
    type="continuous">
    <origin
      xyz="0 -0.083 -0.058"
      rpy="1.5708 0 0" />
    <parent
      link="rightjoint5" />
    <child
      link="rightjoint6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>