<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find alfa_robot_description)/urdf/common/inertials.xacro"/>
  <xacro:include filename="$(find alfa_robot_description)/urdf/common/materials.xacro"/>

  <xacro:macro name="alfa_robot" params="prefix parent *origin">
    <!-- LINKS -->
    <!-- base_link -->
    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="-0.44193110855616 0.000259961331933109 0.176428166472852" rpy="0 0 0"/>
        <mass value="394.931465036981"/>
        <inertia ixx="66.5681215725466" ixy="5.74775273893285E-10" ixz="9.85014992290203" iyy="65.6389024339403" iyz="2.76043934386688E-09" izz="112.938477587322"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/base_link.STL"/>
        </geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/base_link.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- turn (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}turn_link">
      <inertial>
        <origin xyz="-0.0697894032768815 -0.00012433244764639 0.982155423971065" rpy="0 0 0"/>
        <mass value="42.0737844290435"/>
        <inertia ixx="10.0720353784748" ixy="-1.75362629131178E-06" ixz="5.29823321336754E-05" iyy="10.0937833616587" iyz="1.43589075450652E-06" izz="0.327199381319826"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/turn.STL"/>
        </geometry>
        <material name="arm_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/turn.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- updown (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}updown_link">
      <inertial>
        <origin xyz="-0.196828632659582 0.0148673483555221 0.0956849238503419" rpy="0 0 0"/>
        <mass value="26.931167747836"/>
        <inertia ixx="0.231217459750122" ixy="2.93337887014215E-05" ixz="0.000951254936009737" iyy="0.178754005132662" iyz="-1.44830456938328E-05" izz="0.348822965146485"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/updown.STL"/>
        </geometry>
        <material name="arm_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/updown.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- plate (new link) -->
    <link name="${prefix}plate_link">
      <inertial>
        <origin xyz="0.0698918884158706 7.79931674799172E-15 -0.0265000000000004" rpy="0 0 0"/>
        <mass value="5.63390000000005"/>
        <inertia ixx="0.0596659645833342" ixy="-9.2486172257981E-16" ixz="-5.64097728970053E-17" iyy="0.0554411298589926" iyz="-2.02970605311345E-14" izz="0.112469490258993"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/plate.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/plate.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftarmbase (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightarmbase_link">
      <inertial>
        <origin xyz="0.0065184830076993 0.0166887762268038 0.0522668634862797" rpy="0 0 0"/>
        <mass value="6.84202784607225"/>
        <inertia ixx="0.0164013007938562" ixy="9.83820122469931E-06" ixz="0.000389797205690543" iyy="0.0925933973563738" iyz="-0.000135019154076589" izz="0.0913226513514585"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightarmbase.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightarmbase.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint1 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint1_link">
      <inertial>
        <origin xyz="0.363254870237073 -0.00430635985497407 0.00399546521565419" rpy="0 0 0"/>
        <mass value="2.46184783942628"/>
        <inertia ixx="0.00349086639926755" ixy="-2.69181048005308E-07" ixz="1.18635671701878E-06" iyy="0.0377537678958155" iyz="-8.95938402086781E-05" izz="0.0384323225293085"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint1.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint1.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint2 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint2_link">
      <inertial>
        <origin xyz="0.150409645725255 0.00448982924374308 0.0188845887503852" rpy="0 0 0"/>
        <mass value="2.48976780370709"/>
        <inertia ixx="0.00317772693030281" ixy="-6.94923571222452E-05" ixz="3.53574425014485E-07" iyy="0.00869746381533899" iyz="2.83263029765993E-08" izz="0.0108712453298436"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint2.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint2.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint3 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint3_link">
      <inertial>
        <origin xyz="-2.6889792636986E-05 0.00177301957246101 0.0771138491168442" rpy="0 0 0"/>
        <mass value="2.36049013572046"/>
        <inertia ixx="0.00371444525711301" ixy="6.97171051907141E-06" ixz="6.54275051629753E-07" iyy="0.00546440283832201" iyz="-3.57400059517791E-07" izz="0.00425607026205507"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint3.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint3.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint4 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint4_link">
      <inertial>
        <origin xyz="0.168114701096427 -0.011285572595106 -0.0157488023557206" rpy="0 0 0"/>
        <mass value="1.71170101112419"/>
        <inertia ixx="0.00484207681591099" ixy="-6.65777874958895E-05" ixz="-9.07857869658426E-06" iyy="0.00422266337154443" iyz="9.33417209316671E-07" izz="0.00348624434926117"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint4.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint4.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightarmbase (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftarmbase_link">
      <inertial>
        <origin xyz="0.00858986048699223 -0.0287669594345854 0.0499555606572479" rpy="0 0 0"/>
        <mass value="7.06520786853071"/>
        <inertia ixx="0.0164730270054181" ixy="9.84172582142273E-06" ixz="0.000387662666799276" iyy="0.0926777572076808" iyz="0.0001209391577568" izz="0.091397951636245"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftarmbase.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftarmbase.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint1 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint1_link">
      <inertial>
        <origin xyz="0.32398542150288 0.0675146775051429 -0.0136862113102643" rpy="0 0 0"/>
        <mass value="2.48077826581444"/>
        <inertia ixx="0.0026348787049079" ixy="-2.78509690352211E-07" ixz="2.27753599606112E-06" iyy="0.0378277422884527" iyz="3.74055166687532E-05" izz="0.0384178105950815"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint1.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint1.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint2 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint2_link">
      <inertial>
        <origin xyz="0.00998125570987396 -0.0501508012211525 0.0836125943851177" rpy="0 0 0"/>
        <mass value="0.924094586385747"/>
        <inertia ixx="0.00138886172299487" ixy="-9.60798584640597E-07" ixz="-2.47998998359295E-07" iyy="0.00126018297864274" iyz="6.56045281312999E-07" izz="0.0014853923148985"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint2.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint2.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint3 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint3_link">
      <inertial>
        <origin xyz="0.225299625739963 1.60107813145238E-05 -0.0720438220450934" rpy="0 0 0"/>
        <mass value="1.34400405454488"/>
        <inertia ixx="0.00147896138599604" ixy="1.09234424169219E-06" ixz="-3.74484328782169E-07" iyy="0.0027517586466101" iyz="-1.75900999614053E-08" izz="0.00279083369334524"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint3.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint3.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint4 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint4_link">
      <inertial>
        <origin xyz="0.0100204605383918 -0.00985679814963347 0.0840089075623952" rpy="0 0 0"/>
        <mass value="0.983457322359293"/>
        <inertia ixx="0.00146324457982104" ixy="-1.07921279553368E-06" ixz="2.05978166819893E-07" iyy="0.00136637778648993" iyz="-3.51454994521712E-07" izz="0.00151815899256312"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint4.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint4.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint5 (new link for 6DOF) -->
    <link name="${prefix}leftjoint5_link">
      <inertial>
        <origin xyz="0.0101785346040691 9.30231893336853E-06 0.114866949892092" rpy="0 0 0"/>
        <mass value="1.05113789872684"/>
        <inertia ixx="0.00202470522047338" ixy="1.84484199834478E-08" ixz="-0.000306186752830273" iyy="0.00328579639703018" iyz="7.17708515637608E-10" izz="0.00340020564373822"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint5.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint5.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint6 (new link for end effector extension) -->
    <link name="${prefix}leftjoint6_link">
      <inertial>
        <origin xyz="0.0338349899428319 2.18158824338843E-14 1.47522838389591E-09" rpy="0 0 0"/>
        <mass value="0.763196071605449"/>
        <inertia ixx="0.00324062849151741" ixy="6.82020341217245E-19" ixz="-3.87057635370163E-16" iyy="0.0019198659327465" iyz="-1.80691312979497E-18" izz="0.00150433027221572"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint6.STL"/>
        </geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint6.STL"/>
        </geometry>
      </collision>
    </link>


    <!-- camera -->
    <link name="${prefix}camera_link">
      <inertial>
        <origin xyz="-0.0129500032830805 3.27763982552187E-08 8.59781135176263E-10" rpy="0 0 0"/>
        <mass value="0.0884229444440941"/>
        <inertia ixx="0.000108966100127413" ixy="4.24530017226163E-12" ixz="1.30809093461559E-12" iyy="1.08349581479197E-05" iyz="1.58450016026868E-10" izz="0.000108016955483713"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/camera.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/camera.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- lidar -->
    <link name="${prefix}lidar_link">
      <inertial>
        <origin xyz="-0.000765897194240361 5.34294830600857E-16 -0.00285836724227106" rpy="0 0 0"/>
        <mass value="0.296061195729235"/>
        <inertia ixx="0.000229195879552691" ixy="-5.34979264059518E-18" ixz="-7.69967406090194E-06" iyy="0.000231259000999259" iyz="8.30310887470795E-18" izz="0.000202523426202246"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/lidar.STL"/>
        </geometry>
        <material name="arm_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/lidar.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- right_ee_link (virtual end effector for MoveIt2 planning) -->
    <link name="${prefix}right_ee_link"/>

    <!-- left_ee_link (virtual end effector for MoveIt2 planning) -->
    <link name="${prefix}left_ee_link"/>

    <!-- END LINKS -->

    <!-- JOINTS -->
    <!-- base_joint fixes base_link to the environment -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}base_link"/>
    </joint>

    <!-- turn -->
    <joint name="${prefix}turn" type="continuous">
      <origin xyz="-0.007937 0 0.129" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}turn_link"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- updown -->
    <joint name="${prefix}updown" type="prismatic">
      <origin xyz="-0.23547 0 0.57771" rpy="0 0 0"/>
      <parent link="${prefix}turn_link"/>
      <child link="${prefix}updown_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="0" upper="1" effort="1000" velocity="1"/>
    </joint>

    <!-- plate (new joint) -->
    <joint name="${prefix}plate" type="prismatic">
      <origin xyz="0.42217 0 0.0325" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}plate_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.5" effort="1000" velocity="1000"/>
    </joint>

    <!-- leftarmbase -->
    <joint name="${prefix}rightarmbase" type="prismatic">
      <origin xyz="-0.16145 -0.47517 0.146" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}rightarmbase_link"/>
      <axis xyz="0 1 0"/>
      <limit lower="0" upper="0.16" effort="1000" velocity="0.5"/>
    </joint>

    <!-- leftjoint1 -->
    <joint name="${prefix}rightjoint1" type="prismatic">
      <origin xyz="0.08729 0.024997 0.07136" rpy="0 0 0"/>
      <parent link="${prefix}rightarmbase_link"/>
      <child link="${prefix}rightjoint1_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.5" effort="1000" velocity="0.5"/>
    </joint>

    <!-- leftjoint2 -->
    <joint name="${prefix}rightjoint2" type="continuous">
      <origin xyz="0.67445 -0.035997 0.04964" rpy="0 1.5708 0"/>
      <parent link="${prefix}rightjoint1_link"/>
      <child link="${prefix}rightjoint2_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- leftjoint3 -->
    <joint name="${prefix}rightjoint3" type="continuous">
      <origin xyz="0.19998 0.0021836 0.0834" rpy="0 0 0"/>
      <parent link="${prefix}rightjoint2_link"/>
      <child link="${prefix}rightjoint3_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- leftjoint4 -->
    <joint name="${prefix}rightjoint4" type="continuous">
      <origin xyz="-0.00022361 -0.054349 0.105" rpy="1.5708 -0.11346 -0.0041142"/>
      <parent link="${prefix}rightjoint3_link"/>
      <child link="${prefix}rightjoint4_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- left_ee_joint (virtual fixed joint for MoveIt2 end effector) -->
    <joint name="${prefix}right_ee_joint" type="fixed">
      <origin xyz="0.275 -0.0308 -0.02825" rpy="0 0 0"/>
      <parent link="${prefix}rightjoint4_link"/>
      <child link="${prefix}right_ee_link"/>
    </joint>

    <!-- rightarmbase -->
    <joint name="${prefix}leftarmbase" type="prismatic">
      <origin xyz="-0.16145 0.3282 0.146" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}leftarmbase_link"/>
      <axis xyz="0 1 0"/>
      <limit lower="0" upper="0.14" effort="1000" velocity="0.5"/>
    </joint>

    <!-- rightjoint1 -->
    <joint name="${prefix}leftjoint1" type="prismatic">
      <origin xyz="0.15658 -0.096099 0.086" rpy="0 0 0"/>
      <parent link="${prefix}leftarmbase_link"/>
      <child link="${prefix}leftjoint1_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.42" effort="1000" velocity="0.5"/>
    </joint>

    <!-- rightjoint2 -->
    <joint name="${prefix}leftjoint2" type="continuous">
      <origin xyz="0.67335 0.10135 0.04" rpy="0 1.5708 0"/>
      <parent link="${prefix}leftjoint1_link"/>
      <child link="${prefix}leftjoint2_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- rightjoint3 -->
    <joint name="${prefix}leftjoint3" type="continuous">
      <origin xyz="0.01 0.0058 0.098" rpy="-1.5708 -1.5708 0"/>
      <parent link="${prefix}leftjoint2_link"/>
      <child link="${prefix}leftjoint3_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- rightjoint4 -->
    <joint name="${prefix}leftjoint4" type="continuous">
      <origin xyz="0.3418 -0.01 -0.082" rpy="1.5708 0 1.5708"/>
      <parent link="${prefix}leftjoint3_link"/>
      <child link="${prefix}leftjoint4_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- leftjoint5 (new joint for 6DOF) -->
    <joint name="${prefix}leftjoint5" type="continuous">
      <origin xyz="0.01 -0.0022 0.098" rpy="-1.5708 -1.5708 0"/>
      <parent link="${prefix}leftjoint4_link"/>
      <child link="${prefix}leftjoint5_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
    </joint>

    <!-- leftjoint6 (new joint for end effector extension) -->
    <joint name="${prefix}leftjoint6" type="prismatic">
      <origin xyz="0.13 0 0.1435" rpy="1.5708 0 0"/>
      <parent link="${prefix}leftjoint5_link"/>
      <child link="${prefix}leftjoint6_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.15" effort="0" velocity="0"/>
    </joint>

    <!-- left_ee_joint (virtual fixed joint for MoveIt2 end effector) -->
    <joint name="${prefix}left_ee_joint" type="fixed">
      <origin xyz="0.05 0 0" rpy="0 0 0"/>
      <parent link="${prefix}leftjoint6_link"/>
      <child link="${prefix}left_ee_link"/>
    </joint>

    <!-- camera -->
    <joint name="${prefix}camera" type="fixed">
      <origin xyz="0.51384 0 0.07785" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}camera_link"/>
    </joint>

    <!-- lidar -->
    <joint name="${prefix}lidar" type="fixed">
      <origin xyz="0.46082 0 0.13841" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}lidar_link"/>
    </joint>

    <!-- END JOINTS -->

  </xacro:macro>
</robot>
