<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find alfa_robot_description)/urdf/common/inertials.xacro"/>
  <xacro:include filename="$(find alfa_robot_description)/urdf/common/materials.xacro"/>

  <xacro:macro name="alfa_robot" params="prefix parent *origin">
    <!-- LINKS -->
    <!-- base_link -->
    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="-0.44193110855616 0.000259961331933109 0.176428166472852" rpy="0 0 0"/>
        <mass value="394.931465036981"/>
        <inertia ixx="66.5681215725466" ixy="5.74775273893285E-10" ixz="9.85014992290203" iyy="65.6389024339403" iyz="2.76043934386688E-09" izz="112.938477587322"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/base_link.STL"/>
        </geometry>
        <material name="blue"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/base_link.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- turn (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}turn_link">
      <inertial>
        <origin xyz="8.3102236387753E-05 -5.6319532371063E-13 0.854091510931534" rpy="0 0 0"/>
        <mass value="93.4308976427189"/>
        <inertia ixx="39.2606066773154" ixy="6.93889405615743E-18" ixz="-5.06230387770105E-13" iyy="39.2606066773154" iyz="2.34703241842353E-11" izz="1.49032676193219"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/turn.STL"/>
        </geometry>
        <material name="arm_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/turn.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- updown (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}updown_link">
      <inertial>
        <origin xyz="-0.297917412220348 -3.47192615164638E-07 0.0811648445824145" rpy="0 0 0"/>
        <mass value="49.32553657462"/>
        <inertia ixx="0.931332356925864" ixy="9.94007584674414E-06" ixz="0.066855170904404" iyy="1.73410727221432" iyz="-8.33331169026236E-07" izz="2.04445451860146"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/updown.STL"/>
        </geometry>
        <material name="arm_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/updown.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- plate (new link) -->
    <link name="${prefix}plate_link">
      <inertial>
        <origin xyz="0.0698918884158706 7.79931674799172E-15 -0.0265000000000004" rpy="0 0 0"/>
        <mass value="5.63390000000005"/>
        <inertia ixx="0.0596659645833342" ixy="-9.2486172257981E-16" ixz="-5.64097728970053E-17" iyy="0.0554411298589926" iyz="-2.02970605311345E-14" izz="0.112469490258993"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/plate.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/plate.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftarmbase (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightarmbase_link">
      <inertial>
        <origin xyz="-0.0636796126431308 0.0122577193728348 0.0451053264420542" rpy="0 0 0"/>
        <mass value="12.5747563662381"/>
        <inertia ixx="0.101345095416832" ixy="-0.0130489080354425" ixz="0.0363217436443393" iyy="0.783542694113494" iyz="0.00243382729312609" izz="0.751203346059042"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightarmbase.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightarmbase.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint1 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint1_link">
      <inertial>
        <origin xyz="0.573415246499549 -4.59374950527724E-05 0.0242655456595022" rpy="0 0 0"/>
        <mass value="2.70490666316"/>
        <inertia ixx="0.0126377757573578" ixy="0.00720527645040998" ixz="-0.00117248770906348" iyy="0.048686796094863" iyz="2.68796611524638E-05" izz="0.0514547540806274"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint1.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint1.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint2 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint2_link">
      <inertial>
        <origin xyz="0.0974924803763488 0.00121089642420269 0.0312499999989556" rpy="0 0 0"/>
        <mass value="3.87102034080653"/>
        <inertia ixx="0.00877438403522921" ixy="-0.000323257298214455" ixz="-6.23575529358465E-18" iyy="0.0347966708621837" iyz="-1.25198249100768E-19" izz="0.0391798661983104"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint2.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint2.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint3 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint3_link">
      <inertial>
        <origin xyz="-1.19792535313579E-06 -0.000259105444550378 0.0735910770497341" rpy="0 0 0"/>
        <mass value="2.16307538045068"/>
        <inertia ixx="0.00756201455703306" ixy="9.47660614357424E-06" ixz="4.55435043254249E-08" iyy="0.00986535032315377" iyz="1.11493916689321E-05" izz="0.00512470452023724"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint3.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint3.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- leftjoint4 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}rightjoint4_link">
      <inertial>
        <origin xyz="0.175697729205423 -0.00674464490596161 -0.0110129395688763" rpy="0 0 0"/>
        <mass value="9.92773566678187"/>
        <inertia ixx="0.0636499915289178" ixy="0.00193403162826374" ixz="0.0237125239968199" iyy="0.138062467565159" iyz="-0.000500914594551876" izz="0.123364066774707"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/rightjoint4.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/rightjoint4.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightarmbase (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftarmbase_link">
      <inertial>
        <origin xyz="-0.0497615746360321 -0.0246057688749117 0.0430343814698384" rpy="0 0 0"/>
        <mass value="13.1823257277416"/>
        <inertia ixx="0.104088812848048" ixy="0.013834486847352" ixz="0.0505635371163732" iyy="0.863382985023394" iyz="-0.00307573195386396" izz="0.828453194049388"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftarmbase.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftarmbase.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint1 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint1_link">
      <inertial>
        <origin xyz="0.57341524650029 4.58601160402972E-05 0.0242655456596959" rpy="0 0 0"/>
        <mass value="2.70490666316309"/>
        <inertia ixx="0.0126378005178209" ixy="-0.00720533280334168" ixz="-0.001172487709181" iyy="0.0486867960951763" iyz="-2.68816757577675E-05" izz="0.051454778841387"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint1.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint1.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint2 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint2_link">
      <inertial>
        <origin xyz="0.0982222389567129 2.77555756156289E-16 0.0280872172763753" rpy="0 0 0"/>
        <mass value="3.80063815279185"/>
        <inertia ixx="0.00855142309151201" ixy="-6.9931040125315E-18" ixz="0.000737698249610721" iyy="0.03409027056488" iyz="6.71273610699033E-19" izz="0.038449314153095"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint2.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint2.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint3 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint3_link">
      <inertial>
        <origin xyz="0.00424368697534261 0.000259106738649706 0.0734709611355132" rpy="0 0 0"/>
        <mass value="2.16310625460758"/>
        <inertia ixx="0.00755389789683751" ixy="-6.42921999609667E-07" ixz="-0.000140310452236765" iyy="0.00986541284670613" iyz="-1.11309098584596E-05" izz="0.0051328070950562"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint3.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint3.STL"/>
        </geometry>
      </collision>
    </link>

    <!-- rightjoint4 (link name differs from joint for GZ compatibility) -->
    <link name="${prefix}leftjoint4_link">
      <inertial>
        <origin xyz="0.179805345971669 0.00027459738144453 0.0111248225390411" rpy="0 0 0"/>
        <mass value="9.59771353822043"/>
        <inertia ixx="0.0623468092864488" ixy="-0.000903417557492398" ixz="-0.0234301373942001" iyy="0.130723241701585" iyz="-0.000423930246625516" izz="0.115651820367604"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/visual/leftjoint4.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://alfa_robot_description/meshes/alfa_robot/collision/leftjoint4.STL"/>
        </geometry>
      </collision>
    </link>


    <!-- right_ee_link (virtual end effector for MoveIt2 planning) -->
    <link name="${prefix}right_ee_link"/>

    <!-- left_ee_link (virtual end effector for MoveIt2 planning) -->
    <link name="${prefix}left_ee_link"/>

    <!-- END LINKS -->

    <!-- JOINTS -->
    <!-- base_joint fixes base_link to the environment -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}base_link"/>
    </joint>

    <!-- turn -->
    <joint name="${prefix}turn" type="continuous">
      <origin xyz="-0.007937 0 0.129" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}turn_link"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- updown -->
    <joint name="${prefix}updown" type="prismatic">
      <origin xyz="-0.23547 0 0.45934" rpy="0 0 0"/>
      <parent link="${prefix}turn_link"/>
      <child link="${prefix}updown_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="0" upper="1" effort="1000" velocity="1"/>
    </joint>

    <!-- plate (new joint) -->
    <joint name="${prefix}plate" type="prismatic">
      <origin xyz="0.42217 0 0.0325" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}plate_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.5" effort="1000" velocity="0.5"/>
    </joint>

    <!-- leftarmbase -->
    <joint name="${prefix}rightarmbase" type="prismatic">
      <origin xyz="-0.16145 -0.31517 0.146" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}rightarmbase_link"/>
      <axis xyz="0 1 0"/>
      <limit lower="0" upper="0.16" effort="1000" velocity="0.5"/>
    </joint>

    <!-- leftjoint1 -->
    <joint name="${prefix}rightjoint1" type="prismatic">
      <origin xyz="0.11412 0.024997 0.07136" rpy="0 0 0"/>
      <parent link="${prefix}rightarmbase_link"/>
      <child link="${prefix}rightjoint1_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.5" effort="1000" velocity="0.5"/>
    </joint>

    <!-- leftjoint2 -->
    <joint name="${prefix}rightjoint2" type="continuous">
      <origin xyz="0.67445 -0.035997 0.04964" rpy="0 1.5708 0"/>
      <parent link="${prefix}rightjoint1_link"/>
      <child link="${prefix}rightjoint2_link"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- leftjoint3 -->
    <joint name="${prefix}rightjoint3" type="continuous">
      <origin xyz="0.19998 0.0021836 0.0834" rpy="0 0 0"/>
      <parent link="${prefix}rightjoint2_link"/>
      <child link="${prefix}rightjoint3_link"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- leftjoint4 -->
    <joint name="${prefix}rightjoint4" type="revolute">
      <origin xyz="-0.00022361 -0.054349 0.105" rpy="1.5708 -0.11346 -0.0041142"/>
      <parent link="${prefix}rightjoint3_link"/>
      <child link="${prefix}rightjoint4_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="1000" velocity="1000"/>
    </joint>

    <!-- left_ee_joint (virtual fixed joint for MoveIt2 end effector) -->
    <joint name="${prefix}right_ee_joint" type="fixed">
      <origin xyz="0.275 -0.0308 -0.02825" rpy="0 0 0"/>
      <parent link="${prefix}rightjoint4_link"/>
      <child link="${prefix}right_ee_link"/>
    </joint>

    <!-- rightarmbase -->
    <joint name="${prefix}leftarmbase" type="prismatic">
      <origin xyz="-0.16145 0.32 0.146" rpy="0 0 0"/>
      <parent link="${prefix}updown_link"/>
      <child link="${prefix}leftarmbase_link"/>
      <axis xyz="0 1 0"/>
      <limit lower="0" upper="0.2" effort="1000" velocity="0.5"/>
    </joint>

    <!-- rightjoint1 -->
    <joint name="${prefix}leftjoint1" type="prismatic">
      <origin xyz="0.11412 -0.036996 0.07136" rpy="0 0 0"/>
      <parent link="${prefix}leftarmbase_link"/>
      <child link="${prefix}leftjoint1_link"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.5" effort="1000" velocity="0.5"/>
    </joint>

    <!-- rightjoint2 -->
    <joint name="${prefix}leftjoint2" type="continuous">
      <origin xyz="0.67445 0.035997 0.04964" rpy="-0.65703 1.5397 -0.65679"/>
      <parent link="${prefix}leftjoint1_link"/>
      <child link="${prefix}leftjoint2_link"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- rightjoint3 -->
    <joint name="${prefix}leftjoint3" type="continuous">
      <origin xyz="0.20199 0.00030029 0.078444" rpy="0.00026875 -0.033043 0.010884"/>
      <parent link="${prefix}leftjoint2_link"/>
      <child link="${prefix}leftjoint3_link"/>
      <axis xyz="0 0 1"/>
    </joint>

    <!-- rightjoint4 -->
    <joint name="${prefix}leftjoint4" type="revolute">
      <origin xyz="0.0060547 0.05435 0.10483" rpy="1.5708 0 0"/>
      <parent link="${prefix}leftjoint3_link"/>
      <child link="${prefix}leftjoint4_link"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.14" upper="3.14" effort="1000" velocity="1000"/>
    </joint>

    <!-- right_ee_joint (virtual fixed joint for MoveIt2 end effector) -->
    <joint name="${prefix}left_ee_joint" type="fixed">
      <origin xyz="0.275 -0.0308 -0.02825" rpy="0 0 0"/>
      <parent link="${prefix}leftjoint4_link"/>
      <child link="${prefix}left_ee_link"/>
    </joint>

    <!-- END JOINTS -->

  </xacro:macro>
</robot>
