<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="robot_v3_arm_link" params="name mesh visual_xyz visual_rpy mass com inertia">
    <link name="${name}">
      <inertial>
        <origin xyz="${com}" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia
          ixx="${inertia[0]}" ixy="${inertia[1]}" ixz="${inertia[2]}"
          iyy="${inertia[3]}" iyz="${inertia[4]}" izz="${inertia[5]}"/>
      </inertial>
      <visual>
        <origin xyz="${visual_xyz}" rpy="${visual_rpy}"/>
        <geometry>
          <mesh filename="${mesh}" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="robot_v3_arm_white">
          <color rgba="0.82 0.82 0.82 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="${visual_xyz}" rpy="${visual_rpy}"/>
        <geometry>
          <mesh filename="${mesh}" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="robot_v3_arm_joint" params="name parent child xyz rpy lower upper">
    <joint name="${name}" type="revolute">
      <parent link="${parent}"/>
      <child link="${child}"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <axis xyz="0 0 1"/>
      <limit lower="${lower}" upper="${upper}" effort="10" velocity="5"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="robot_v3_arm" params="prefix parent mount_xyz mount_rpy">
    <xacro:property name="mesh_root" value="package://alfa_robot_description/meshes/robot_v3_0_4"/>

    <xacro:robot_v3_arm_link
      name="${prefix}_arm_base" mesh="${mesh_root}/part_001_solid_001.stl"
      visual_xyz="0 0 -0.005" visual_rpy="0 0 0"
      mass="0.1014289" com="0 0 0"
      inertia="${[0.00011426901, 0, 0, 0.00011426901, 0, 0.00022684754]}"/>
    <joint name="${prefix}_arm_mount" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}_arm_base"/>
      <origin xyz="${mount_xyz}" rpy="${mount_rpy}"/>
    </joint>

    <xacro:robot_v3_arm_link
      name="${prefix}_joint1" mesh="${mesh_root}/part_002_solid_002.stl"
      visual_xyz="0 0 0.005" visual_rpy="-3.1415927 0 0"
      mass="0.87717378" com="0 1.1837915e-10 -0.044425695"
      inertia="${[0.0021526807, -0.00012732782, -3.552265e-13, 0.0024610625, -2.1714843e-12, 0.0028313351]}"/>
    <xacro:robot_v3_arm_link
      name="${prefix}_joint2" mesh="${mesh_root}/part_003_solid_003.stl"
      visual_xyz="0 -0.122 -0.05" visual_rpy="-1.5707963 -1.2256642 0"
      mass="0.98655712" com="0 0.13266202 -0.05"
      inertia="${[0.0048840702, 0, 4.4533713e-14, 0.00077793223, 0, 0.0049075075]}"/>
    <xacro:robot_v3_arm_link
      name="${prefix}_joint3" mesh="${mesh_root}/part_004_solid_004.stl"
      visual_xyz="0 0 -0.2625" visual_rpy="0 0 0"
      mass="1.0144002" com="0 3.1500509e-10 0.24055363"
      inertia="${[0.012352546, -2.5654299e-05, -4.5671842e-12, 0.010791853, 1.6898776e-11, 0.0040465291]}"/>
    <xacro:robot_v3_arm_link
      name="${prefix}_joint4" mesh="${mesh_root}/part_005_solid_005.stl"
      visual_xyz="0 -0.64 -0.05" visual_rpy="-1.5707963 0.016431729 0"
      mass="0.21834668" com="0 0.13589948 -0.05"
      inertia="${[0.0014599397, 2.3870343e-13, 6.5580775e-14, 8.1241008e-05, 0, 0.0015123784]}"/>
    <xacro:robot_v3_arm_link
      name="${prefix}_joint5" mesh="${mesh_root}/part_006_solid_006.stl"
      visual_xyz="0 0 -0.881" visual_rpy="0 0 0"
      mass="0.37760001" com="0 0 0.1178983"
      inertia="${[0.0022842981, -5.5282359e-05, -2.4838794e-13, 0.0022798052, 2.1839741e-13, 0.0003433814]}"/>
    <xacro:robot_v3_arm_link
      name="${prefix}_joint6" mesh="${mesh_root}/part_007_solid_007.stl"
      visual_xyz="0 1.117 -0.02" visual_rpy="1.5707963 -0.76509136 0"
      mass="0.074346666" com="0 -0.02112805 -0.02"
      inertia="${[3.672015e-05, 0, -6.8244018e-14, 3.6841002e-05, 0, 4.7158831e-05]}"/>
    <xacro:robot_v3_arm_link
      name="${prefix}_joint7" mesh="${mesh_root}/part_008_solid_008.stl"
      visual_xyz="0 0 -1.156" visual_rpy="0 0 0"
      mass="0.1673773" com="-0.00059196999 -0.0021196245 0.098811678"
      inertia="${[0.00055399803, -3.7102629e-06, 8.0912649e-06, 0.0005414995, 2.9419345e-05, 3.2707842e-05]}"/>

    <xacro:robot_v3_arm_joint name="${prefix}_joint1" parent="${prefix}_arm_base" child="${prefix}_joint1" xyz="0 0 0" rpy="3.1415927 0 0" lower="-3.14159265" upper="3.14159265"/>
    <xacro:robot_v3_arm_joint name="${prefix}_joint2" parent="${prefix}_joint1" child="${prefix}_joint2" xyz="0.047051538 0.016916049 -0.117" rpy="-1.5707963 0 -1.2256642" lower="-1.83259571" upper="1.83259571"/>
    <xacro:robot_v3_arm_joint name="${prefix}_joint3" parent="${prefix}_joint2" child="${prefix}_joint3" xyz="0 0.1405 -0.05" rpy="-1.5707963 -1.2256642 0" lower="-3.14159265" upper="3.14159265"/>
    <xacro:robot_v3_arm_joint name="${prefix}_joint4" parent="${prefix}_joint3" child="${prefix}_joint4" xyz="-0.00082154955 -0.04999325 0.3775" rpy="1.5707963 0 -0.016431729" lower="-2.61799388" upper="2.61799388"/>
    <xacro:robot_v3_arm_joint name="${prefix}_joint5" parent="${prefix}_joint4" child="${prefix}_joint5" xyz="0 0.241 -0.05" rpy="-1.5707963 0.016431729 0" lower="-3.14159265" upper="3.14159265"/>
    <xacro:robot_v3_arm_joint name="${prefix}_joint6" parent="${prefix}_joint5" child="${prefix}_joint6" xyz="0.013852058 0.014426382 0.236" rpy="-1.5707963 0 -0.76509136" lower="-2.09439510" upper="2.09439510"/>
    <xacro:robot_v3_arm_joint name="${prefix}_joint7" parent="${prefix}_joint6" child="${prefix}_joint7" xyz="0 -0.039 -0.02" rpy="1.5707963 -0.76509136 0" lower="-3.14159265" upper="3.14159265"/>

    <link name="${prefix}_tool0"/>
    <joint name="${prefix}_tool0_fixed" type="fixed">
      <parent link="${prefix}_joint7"/>
      <child link="${prefix}_tool0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

</robot>
