<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="alfa_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>mock_components/GenericSystem</plugin>
                <param name="mock_sensor_commands">true</param>
            </hardware>
            <xacro:macro name="moveit_control_joint" params="joint_name">
                <joint name="${joint_name}">
                    <command_interface name="position"/>
                    <state_interface name="position">
                        <param name="initial_value">${initial_positions[joint_name]}</param>
                    </state_interface>
                </joint>
            </xacro:macro>
            <xacro:moveit_control_joint joint_name="left_joint1"/>
            <xacro:moveit_control_joint joint_name="left_joint2"/>
            <xacro:moveit_control_joint joint_name="left_joint3"/>
            <xacro:moveit_control_joint joint_name="left_joint4"/>
            <xacro:moveit_control_joint joint_name="left_joint5"/>
            <xacro:moveit_control_joint joint_name="left_joint6"/>
            <xacro:moveit_control_joint joint_name="left_joint7"/>
            <xacro:moveit_control_joint joint_name="right_joint1"/>
            <xacro:moveit_control_joint joint_name="right_joint2"/>
            <xacro:moveit_control_joint joint_name="right_joint3"/>
            <xacro:moveit_control_joint joint_name="right_joint4"/>
            <xacro:moveit_control_joint joint_name="right_joint5"/>
            <xacro:moveit_control_joint joint_name="right_joint6"/>
            <xacro:moveit_control_joint joint_name="right_joint7"/>
        </ros2_control>
    </xacro:macro>
</robot>
